.box {
  width: 100%;
  height: 100vh;
  border: none;
}

body {
    margin: 0;
    background-color: #023047;
}

.addScoreUsername {
    margin-top: -16rem;
}

#avatarImg {
    width: 100px;
    border: 5px solid var(--borders);
}