@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --background-color: whitesmoke;
  --box-background: #fae4ab;
  --heading: #023047;
  --accent: #023047;
  --accent2: #fb8500;
  --accent3: #219EBC;
  --accent4: #8ECAE6;
  --text-color: whitesmoke;
  --borders: #023047;

  --title-font: "Bangers";
  --text-font: "Poppins";
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--text-font);
  font-weight: bold;
  font-size: 13px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 85vh;
  height: 85vh;
  background-color: var(--borders);
  border: transparent outset 10px;
  border-radius: 10px;
  transition: border 300ms ease-in;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

button {
  width: 100px;
  height: 30px;
  background-color: var(--accent3);
  color: var(--text-color);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--box-background);
}

.title {
  width: 100%;
  font-family: var(--title-font);
  color: var(--text-color);
  text-shadow: -2px 0 #023047, 0 2px #023047, 1px 0 #023047, 0 -1px #023047;
  font-size: 7em;
  letter-spacing: 5px;
}

/* gameplay */
.mainDiv {
  background-image: url("https://github.com/SchoolOfCode/maths_masters/blob/main/img/bg.png?raw=true");
  background-size: 100%;
}

#current-score, #timer {
  background-color: white;
  padding: 6px;
  font-weight: bolder;
}

#feedback {
  color: var(--text-color);
  font-weight: bolder;
}

#gameplay {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.options {
  width: 60px;
  height: 60px;
  font-size: 2em;
}

button:hover {
  background-color: var(--accent4);
}

#timer {
  width: 100%;
}

#number1,
#number2 {
  font-size: 4rem;
  font-family: var(--title-font);
  color: var(--text-color);
  font-weight: bolder;
  margin: 0px;
  width: 45%;
  text-shadow: -2px 0 #023047, 0 2px #023047, 2px 0 #023047, 0 -2px #023047;
}

#operation {
  font-size: 5rem;
  color: var(--accent2);
  font-weight: bolder;
  width: 10%;
  border-radius: 50%;
  text-align: center;
  text-shadow: -2px 0 #023047, 0 2px #023047, 2px 0 #023047, 0 -2px #023047;
}

/* gameover */

#youScored {
  width: 100%;
  font-family: var(--title-font);
  color: var(--text-color);
  font-size: 3rem;
  text-shadow: -2px 0 #023047, 0 1px #023047, 1px 0 #023047, 0 -1px #023047;
}

span {
  color: var(--accent2);
  font-size: 4rem;
  text-shadow: -2px 0 #023047, 0 2px #023047, 2px 0 #023047, 0 -2px #023047;
}

.addScoreUsername {
  margin-top: -11rem;
}

#submitNameButton {
  width: 10%;
}

select {
  padding: 5px;
  width: 25%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--accent);
}

input {
  padding: 5px 10px;
  width: 60%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--accent);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: none;
}

/* avatar */

#avatarContainer {
  text-align: center;
  width: 100%;
  margin-top: -100px;
}

#avatarImg {
  width: 100px;
  border: 5px solid var(--borders);
  border-radius: 50%;
  background-color: #8ecae6;
}

/* leaderboard table */

.heading {
  color: var(--text-color);
  font-size: 3em;
  font-family: var(--title-font);
  letter-spacing: 2px;
  margin-bottom: 6px;
  text-shadow: -2px 0 #023047, 0 2px #023047, 1px 0 #023047, 0 -1px #023047;
}

table {
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--borders);
}

td,
th {
  border-bottom: 1px solid var(--borders);
  text-align: left;
  padding: 5px;
  text-transform: capitalize;
}

#table-position {
  width: 50px;
  text-align: center;
}

#table-avatar {
  width: 100px;
  text-align: center;
}

#table-name {
  width: 130px;
}

#table-score {
  width: 80px;
  text-align: center;
}

#results-avatar {
  width: 28px;
}

#tryAgainButton {
  width: 50px;
}
