* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
}

/* avatar */

#avatarContainer {
  text-align: center;
}

#avatarImg {
  width: 70px;
  border: lightcoral 5px solid;
  border-radius: 50%;
  background-color: whitesmoke;
  margin-right: 15px;
}

/* leaderboard table */

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
  background-color: whitesmoke;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 150px;
  text-transform: capitalize;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 400px;
  height: 650px;
  background-color: white;
  border: transparent outset 10px;
  border-radius: 10px;
  transition: border 300ms ease-in;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

button {
  width: 100px;
  height: 30px;
  background-color: #003b6f;
  color: whitesmoke;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: lavender;
}

select {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid lightcoral;
}

input {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid lightcoral;
}

input:focus, textarea:focus, select:focus{
  outline: none;
  border: none;
}
