@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --background-color: whitesmoke;
  --box-background: #FFD770;
  --heading: #FB8500;
  --accent: #FB8500;
  --button-color: whitesmoke;
  --text-color: #023047;
  --borders: #023047;

  --title-font: 'Bangers';
  --text-font: 'Poppins'
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--text-font);
  font-size: 13px;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 400px;
  height: 650px;
  background-color: var(--borders);
  border: transparent outset 10px;
  border-radius: 10px;
  transition: border 300ms ease-in;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

button {
  width: 100px;
  height: 30px;
  background-color: var(--accent);
  color: var(--button-color);
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--box-background);
}

.title {
  width: 100%;
  font-family: var(--title-font);
  color: var(--heading);
  font-size: 3em;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px #000000;
}

/* gameplay */

#gameplay {
width: 100%;
}

.options {
  width: 60px;
  height: 60px;
}

#timer {
  width: 100%;
}

#number1, #number2 {
  font-size: 4rem;
  font-family: var(--title-font);
  font-weight: bolder;
  margin: 0px;
}

#operation {
  font-size: 5rem;
  margin: 0px;
}

/* gameover */

#youScored {
  width: 100%;
  font-family: var(--title-font);
  color: var(--borders);
  font-size: 3em;
}

span {
  color: var(--accent);
}

.addScoreUsername {
  margin-top: -11rem;
}

#submitNameButton {
  width: 10%;
}

select {
  padding: 5px;
  width: 25%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--accent);
}

input {
  padding: 5px 10px;
  width: 60%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--accent);
}

input:focus, textarea:focus, select:focus{
  outline: none;
  border: none;
}

/* avatar */

#avatarContainer {
  text-align: center;
  width: 100%;
}

#avatarImg {
  width: 100px;
  border: 5px solid var(--borders);
  border-radius: 50%;
  background-color: var(--accent);
  margin-right: 15px;
}

/* leaderboard table */

.heading {
  color: var(--borders);
  font-size: 3em;
  font-family: var(--title-font);
  margin-bottom: 6px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
  background-color: var(--box-background);
}

td,
th {
  border-bottom: 1px solid var(--borders);
  text-align: left;
  padding: 8px;
  text-transform: capitalize;
}

#table-avatar {
  width: 60px;
  text-align: center;
}

#table-name {
  width:130px;
}

#table-score {
  width: 100px;
  text-align: center;
}

#results-avatar {
  width: 30px;
}

#tryAgainButton {
  width: 50px;
}