:root {
  --title-font: 15vw "Bangers";
}

.box {
  width: 100%;
  height: 100vh;
  border: none;
}

button {
  width: 20vw;
  height: 6vh;
}

body {
  margin: 0;
  background-color: #023047;
}

.addScoreUsername {
  margin-top: -14rem;
}

#avatarImg {
  width: 100px;
  border: 5px solid var(--borders);
}
